.child {
    padding-left: 6px;
    background-color: #cbf9ca;
}
input.short {
    max-width: 65px;
}

.hidden {
    display:none;
}

.calculation {
    display: inline-block;
    float: left;
    width: 60%;
    border: 1px solid black;
    min-height: 800px;
}
.calculation div, li {
    border-bottom: 1px solid;
}
.plan {
    display: inline-block;
    width: 35%;
    border: 1px solid black;
    margin-left: 1px;
    min-height: 800px;
}
.flight-params, .ship-status {
    display: inline-block;
}
